<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.mybook.data.align.mapper.SelectMapper">
    <select id="selectBatchFromDataAlignFollowingCountTempTable" resultType="long" parameterType="map">
        select user_id from `data_align_following_count_temp_${tableNameSuffix}` order by id
        limit #{batchSize}
    </select>

    <select id="selectCountFromFollowingTableByUserId" parameterType="map" resultType="int">
        select count(*) from following where user_id = #{userId}
    </select>

    <select id="selectBatchFromDataAlignNoteLikeCountTempTable" resultType="long" parameterType="map">
        select note_id from `data_align_note_like_count_temp_${tableNameSuffix}` order by id
        limit #{batchSize}
    </select>

    <select id="selectCountFromNoteLikeTableByUserId" parameterType="map" resultType="int">
        select count(*) from note_like where note_id = #{noteId} and status = 1
    </select>
</mapper>