<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.mybook.data.align.mapper.UpdateMapper">
    <update id="updateUserFollowingTotalByUserId" parameterType="map">
        update user_count set following_total = #{followingTotal}
        where user_id = #{userId}
    </update>
    <update id="updateNoteLikeTotalByUserId" parameterType="map">
        update note_count set like_total = #{noteLikeTotal}
        where note_id = #{noteId}
    </update>
</mapper>