<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.mybook.count.biz.mapper.UserCountMapper">
    <insert id="insertOrUpdateFansTotalByUserId">
        insert into user_count (user_id,fans_total)
        value(#{userId},#{count})
        on duplicate key update fans_total = fans_total + (#{count});
    </insert>
    <insert id="insertOrUpdateFollowingTotalByUserId">
        insert into user_count (user_id,following_total)
        value(#{userId},#{count})
        on duplicate key update following_total=following_total+(#{count})
    </insert>
    <insert id="insertOrUpdateLikeTotalByUserId">
        insert into user_count (user_id,like_total)
        values (#{userId},#{count})
        on duplicate key update like_total=like_total+#{count}
    </insert>
    <insert id="insertOrUpdateCollectTotalByUserId">
        insert into user_count (user_id,collect_total)
        values (#{userId},#{count})
        on duplicate key update collect_total=collect_total+#{count}
    </insert>
    <insert id="insertOrUpdateNoteTotalByUserId">
        insert into user_count (user_id,note_total)
        values (#{userId},#{count})
        on duplicate key update note_total=note_total+#{count}
    </insert>
</mapper>